:root {
    --background-colour: white;
    --border-colour: rgb(50, 50, 50);
    --scale: 10;
    --width: calc(80px * var(--scale));
    --height: calc(32px * var(--scale));
    --border-thickness: calc(1px * var(--scale));
    --header-height: calc(5px * var(--scale));
    --padding: calc(3px * var(--scale));
    --img-height: calc(33px * var(--scale));
    --img-width: calc(18px * var(--scale));
}

.container {
    display: grid;
    width: var(--width);
    height: var(--height);

    grid-template-areas:
        "header header"
        "image content";
    grid-template-columns: 1fr 1fr;
    
    border: var(--border-thickness) solid var(--border-colour);
}
.container div {
    background-color: var(--background-colour);
}
.container div.header {
    height: var(--header-height);
    grid-area: header;
    background: var(--border-colour);
}
.container div.image {
    grid-area: image;
    padding: var(--padding);
}
.container div.content {
    grid-area: content;
}

img {
    width: var(--img-width);
    height: var(--img-height);
    border: 1px solid var(--border-colour);
}

/* 20 x 8 */