.container {
    display: grid;
    width: 800px;
    height: 320px;
    grid-template-areas:
        "header header"
        "image content";
    grid-template-columns: 1fr 1fr;
    border: 10px solid rgb(50, 50, 50);
}
.container div {
    background-color: white;
}
.container div.header {
    height: 50px;
    grid-area: header;
    background: rgb(50, 50, 50);
}
.container div.image {
    grid-area: image;
    padding: 30px;
    /* border: 1px dashed blue;  DEBUG */
}
.container div.content {
    grid-area: content;
}

img {
    width: 330px;
    height: 180px;
    border: 1px solid rgb(50, 50, 50);
}

/* 20 x 8 */