<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Analysis Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='buttons.js') }}"></script>
</head>

<body>

    <div class="header">
        <h1>Data Analysis Dashboard</h1>
    </div>

    <div class="nav" id="nav"></div>
    <div id="content"></div>

    <script>
        buildUI([
            "investigation",
            "dataCollectionAndCleaning",
            "meanMedianAndMode",
            "lineGraph",
            "scatterGraph",
            "barGraph",
            "pieChart",
            "linearRegression",
            "conclusion",
            "references",
        ]);
    </script>
    <script src="{{ url_for('static', filename='stickyHeader.js') }}"></script>

</body>

</html>